# Part 1

In [1]:
import pandas as pd
import numpy as np
import requests

Postal Codes are at https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M,  \
convert data into DataFrame and remove not assigned

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
url_page = requests.get(url)
url_page

In [3]:
url_data = pd.read_html(url_page.content)
# url_data

In [4]:
len(url_data),type(url_data)

(3, list)

In [5]:
wiki_data = url_data[0]
# wiki_data

In [6]:
PostalCode = []
Borough = []
Neighborhood = []

In [7]:
for column in wiki_data:
    for row in wiki_data[column]:
        data = row
        parse = data.split('(',1)
        PostalCode.append(data[0:3])
        Borough.append(parse[0][3:])
        if '(' in data:
            Neighborhood.append(parse[1].replace(')',"").replace('/',','))
        else:
            Neighborhood.append('None')
print(column,row)

8 M9ZNot assigned

In [8]:
data = {
    'PostalCode':PostalCode,
    'Borough':Borough,
    'Neighborhood':Neighborhood
}

In [9]:
df = pd.DataFrame(data = data)
df

,PostalCode,Borough,Neighborhood
0,M1A,Not assigned,None
1,M1B,Scarborough,"Malvern , Rouge"
2,M1C,Scarborough,"Rouge Hill , Port Union , Highland Creek"
3,M1E,Scarborough,"Guildwood , Morningside , West Hill"
4,M1G,Scarborough,Woburn
...,...,...,...
175,M9V,Etobicoke,"South Steeles , Silverstone , Humbergate , Jam..."
176,M9W,EtobicokeNorthwest,"Clairville , Humberwood , Woodbine Downs , Wes..."
177,M9X,Not assigned,None
178,M9Y,Not assigned,None
179,M9Z,Not assigned,None

In [10]:
df = df[df.Borough != 'Not assigned']
df.reset_index(inplace=True)

In [11]:
del df['index']

In [12]:
df

,PostalCode,Borough,Neighborhood
0,M1B,Scarborough,"Malvern , Rouge"
1,M1C,Scarborough,"Rouge Hill , Port Union , Highland Creek"
2,M1E,Scarborough,"Guildwood , Morningside , West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village , St. Phillips , Martin Grov..."
101,M9V,Etobicoke,"South Steeles , Silverstone , Humbergate , Jam..."
102,M9W,EtobicokeNorthwest,"Clairville , Humberwood , Woodbine Downs , Wes..."

# Part 2

In [13]:
pip install geocoder

Requirement already satisfied: geocoder in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (1.38.1)
Requirement already satisfied: six in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (1.15.0)
Requirement already satisfied: ratelim in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (2.24.0)
Requirement already satisfied: future in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: click in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (7.1.2)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (2.9)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import geocoder

Couldn't figure out the Geocoder Api for Postal Codes, therefore

In [15]:
data = pd.read_csv("https://cocl.us/Geospatial_data")
data

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [16]:
data.shape

(103, 3)

In [17]:
df.shape

(103, 3)

In [18]:
df.dtypes

PostalCode      object
Borough         object
Neighborhood    object
dtype: object

In [19]:
data.dtypes

Postal Code     object
Latitude       float64
Longitude      float64
dtype: object